language: java
sudo: required

jdk:
  - oraclejdk8

before_install:
  - pip install --user codecov

before_cache:
  - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock

cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/

after_success:
  - codecov