/* VARIABLES */
* {
    highlight-color: #2E2372;
    background-sidebar: #111111;
    background-controlbar: #0d0d0d;
    background-nowplaying: #141414;
    background-main: #191919;
    background-highlight: #1d1d1d;
    control-body: #1d1d1d;
    control-body-dark: #141414;
    control-cancel: #7E0000;
    text1: #aaa;
    text2: #bbb;
    text3: #ddd;
    text4: #eee;
}

/* GENERAL */
.button {
    -fx-background-color: derive(control-body, -20%), derive(control-body, -15%), derive(control-body, -10%), control-body;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: text1;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.7), 10, 0, 0, 0);
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: derive(control-body, -17.5%), derive(control-body, -12.5%), derive(control-body, -7.5%), derive(control-body, 2.5%);
}

.button:pressed {
    -fx-background-color: derive(control-body, -22.5%), derive(control-body, -17.5%), derive(control-body, -12.5%), derive(control-body, -2.5%);
}

.btn-cancel {
    -fx-background-color: derive(control-cancel, -20%), derive(control-cancel, -15%), derive(control-cancel, -10%), control-cancel;
}

.btn-cancel:hover {
    -fx-background-color: derive(control-cancel, -15%), derive(control-cancel, -10%), derive(control-cancel, -5%), derive(control-cancel, 5%);
}

.btn-cancel:pressed {
    -fx-background-color: derive(control-cancel, -25%), derive(control-cancel, -20%), derive(control-cancel, -15%), derive(control-cancel, -5%);
}

.progress-bar {
    -fx-indeterminate-bar-length: 0;
    -fx-indeterminate-bar-escape: false;
    -fx-indeterminate-bar-flip: false;
    -fx-indeterminate-bar-animation-time: 2;
}
.progress-bar > .bar {
    -fx-background-color: highlight-color;
    -fx-background-insets: 0;
    -fx-background-radius: 5;
    -fx-padding: 0.25em;
}
.progress-bar > .track {
    -fx-background-color: background-sidebar;
    -fx-background-insets: 0;
    -fx-background-radius: 5;
}

.scroll-bar:vertical > .increment-button,
.scroll-bar:vertical > .decrement-button {
    -fx-padding: 0em 0.25em 0em 0.166667em; /* 3 3 3 2 */
    -fx-opacity: 0;
}

.scroll-bar {
    -fx-background-insets: 0;
    -fx-background-color: background-sidebar;
    -fx-padding: 1 0 1 0;
}

.scroll-bar:vertical > .decrement-button > .decrement-arrow {
    -fx-shape: "";
    -fx-padding: 0em 0.333em 0em 0.333em;
}

.scroll-bar:vertical > .increment-button > .increment-arrow {
    -fx-shape: "";
    -fx-padding: 0em 0.333em 0em 0.333em;
}

.scroll-bar:horizontal > .increment-button,
.scroll-bar:horizontal > .decrement-button {
    -fx-padding: 0.166667em 0.25em 0.25em  0.25em; /* 2 3 3 3 */
    -fx-opacity: 0;
}

.scroll-bar:horizontal > .decrement-button > .decrement-arrow,
.scroll-bar:horizontal > .increment-button > .increment-arrow {
    -fx-padding: 0.333em 0.167em 0.333em 0.167em; /* 4 2 4 2 */
    -fx-shape: "";
}

.scroll-bar > .thumb {
    -fx-background-color: #2a2a2a;
}

.table-view > .virtual-flow > .corner {
    -fx-background-color: background-sidebar;
}

/* SIDEBAR */
.sidebar {
    -fx-background-color: background-sidebar;
}

.sidebar-top {
    -fx-background-color: background-controlbar;
}

.search-input {
    -fx-font-size: 1em;
    -fx-background-radius: 10px;
    -fx-background-position: right center;
    -fx-background-image:url('/icn/icnSearch.png');
    -fx-background-size: 1.9em 1.9em;
    -fx-background-repeat: no-repeat;
}

.sidebar-scroll-pane {
    -fx-border-width: 0;
    -fx-padding: 0;
    -fx-background-insets: 0;
}

.titled-pane-sidebar {
    -fx-text-fill: text3;
    -fx-font-size: 1.85em;
}

.titled-pane-sidebar > .title {
    -fx-border-width: 0;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-background-color: background-sidebar;
}

.titled-pane-sidebar > .title > .arrow-button > .arrow {
    -fx-shape: "";
    -fx-padding: 0;
}

.titled-pane-sidebar > .content {
    -fx-padding: 0;
    -fx-border: null;
    -fx-background-color: background-main;
    -fx-background-insets: 0;
}

.titled-pane-sidebar > *.content {
    -fx-border-width: 0px;
}

.treeview-sidebar {
    -fx-padding: 0;
    -fx-border-width: 0;
}

.treecell-sidebar {
    -fx-background-insets: 0;
    -fx-background-color: background-main;
    -fx-text-fill: text1;
    -fx-font-size: 0.75em;
}

.treecell-sidebar:hover {
    -fx-text-fill: text3;
}

.treecell-sidebar:selected {
    -fx-border-width: 0px 0px 0px 0.333333em;
    -fx-border-color: highlight-color;
    -fx-text-fill: text4;
}

.treecell-sidebar:playing {
    -fx-text-fill: #009999;
}

/* NOW PLAYING */
.now-playing {
    -fx-background-color: background-nowplaying;
    -fx-padding: 10 0 10 0;
}

.title-label {
    -fx-font-size: 2.1em;
    -fx-text-fill: text2;
}

.artist-label {
    -fx-font-size: 1.55em;
    -fx-text-fill: text1;
}

.lbl-time {
    -fx-text-fill: text1;
}

/* CONTROL BAR */
.control-bar {
    -fx-background-color: background-controlbar;
}

.icn-button {
    -fx-opacity: 0.5;
}

.icn-button:hover {
    -fx-opacity: 0.65;
}

.icn-button:pressed {
    -fx-opacity: 0.85;
}

.btn-settings:hover {
    -fx-opacity: 0.8;
}

.btn-settings:pressed {
    -fx-opacity: 0.6;
}

.time-bar {
    -fx-indeterminate-bar-length: 0;
    -fx-indeterminate-bar-escape: false;
    -fx-indeterminate-bar-flip: false;
    -fx-indeterminate-bar-animation-time: 2;
}
.time-bar > .bar {
    -fx-background-color: highlight-color;
    -fx-background-insets: 0;
    -fx-background-radius: 5;
    -fx-padding: 0.25em;
}
.time-bar > .track {
    -fx-background-color: background-sidebar;
    -fx-background-insets: 0;
    -fx-background-radius: 5;
}

/* SETTINGS */
.settings-item {
    -fx-padding: 1.5em;
    -fx-background-color: background-highlight;
    -fx-pref-width: 13em;
    -fx-pref-height: 14em;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-cursor: hand;
}

.settings-item:hover {
    -fx-background-color: #1f1f1f;
}

.settings-item:pressed {
    -fx-background-color: #1c1c1c;
}

.settings-item > .label {
    -fx-font-size: 1.5em;
    -fx-text-fill: text2;
}

/* CENTER */
.center-pane {
    -fx-background-color: background-main;
}

/* GENERAL SETTINGS */
.settings-page-title {
    -fx-text-fill: text3;
    -fx-font-size: 3em;
}

.settings-page-title2 {
    -fx-text-fill: text1;
    -fx-font-size: 1.5em;
}

/* MP3 IMPORT */
.mp3-import > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell {
    -fx-font-size: 1.25em;
    -fx-background-color: control-body-dark;
    -fx-text-fill: text2;
}

.mp3-import > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected {
    -fx-background-color: highlight-color;
    -fx-table-cell-border-color: derive(highlight-color, 20%);
}

.mp3-import > .list-view {
    -fx-background-color: control-body-dark;
    -fx-background-insets: 0;
    -fx-effect: innershadow(three-pass-box, rgba(0,0,0,0.8), 15, 0, 0, 0);
}

.mp3-import-button {
    -fx-font-size: 1.25em;
}

/* MP3 IMPORT PROGRESS */
.import-progress > .button {
    -fx-font-size: 1.25em;
    -fx-padding: 0.444445em 0.999999em 0.444445em 0.999999em;
}

/* TABLE VIEW */
.library-view {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-table-header-border-color: transparent;
    -fx-table-cell-border-color: transparent;
}

.library-view > .virtual-flow > .clipped-container > .sheet > .table-row-cell,
.library-view > .virtual-flow > .clipped-container > .sheet > .table-row-cell:odd {
    -fx-background: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.library-view > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:selected,
.library-view > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell:selected {
    -fx-background: highlight-color;
    -fx-table-cell-border-color: transparent;
}

.library-view:row-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell:focused,
.library-view:cell-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell > .table-cell:focused {
    -fx-background: highlight-color;
    -fx-background-insets: 0;
}

.library-view > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell:selected {
    -fx-background: highlight-color;
    -fx-background-insets: 0;
}

.library-view .column-header-background {
    -fx-background-color: background-controlbar;
    -fx-background-insets: 0;
}

.library-view .column-header,
.library-view .filler,
.library-view > .column-header-background > .show-hide-columns-button,
.library-view:constrained-resize .filler {
    -fx-background-color: background-controlbar;
    -fx-background-insets: 0;
    -fx-font-weight: bold;
    -fx-size: 3.5em;
    -fx-font-size: 1.25em;
    -fx-text-fill: text1;
    -fx-padding: 0.166667em;
}

.library-view .column-header .label {
    -fx-alignment: center;
    -fx-text-fill: text3;
}

.library-view > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell {
    -fx-padding: 0.166667em; /* 2px, plus border adds 1px */
    -fx-background-color: transparent;
    -fx-border-color: transparent -fx-table-cell-border-color transparent transparent;
    -fx-cell-size: 2.0em; /* 24 */
    -fx-text-fill: text2;
}